.footer {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.footer-section {
    padding: 20px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3CA6A6;
    color: #fff;
}

.footer .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px; /* Adjust this value as needed */
}

.footer .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .logo img {
    width: 100%; /* Adjust the size as needed */
    height: auto;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.page-info p {
    margin: 5px 0;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    background-color: #2b6773;
    color: #fff;
}

.footer .habeas-data {
    color: #fff;
    font-size: 14px;
    align-self: flex-start;
    padding-left: 5%;
}

.habeas-data a {
    font-size: small;
    font-style: italic;
    color: #fff;
}

.habeas-data a:hover{
    text-decoration: underline;
}

@media (max-width: 740px) {
    .top-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .page-info {
        margin-top: 10px;
    }

    .bottom-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
